<div>
  <div>
    <h1>
      List of all user chapters
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new user chapter
    </h2>

    <form action="/insert_user_chapter" method="post">
      <div>
        <label for="chapter_id_box">
          Chapter
        </label>

        <input type="text" id="chapter_id_box" name="query_chapter_id">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="completed_at_box">
          Completed at
        </label>

        <input type="time" id="completed_at_box" name="query_completed_at">
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="query_status">
      </div>

      <div>
        <label for="reading_plan_id_box">
          Reading plan
        </label>

        <input type="text" id="reading_plan_id_box" name="query_reading_plan_id">
      </div>

      <button>
        Create user chapter
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Chapter
        </th>

        <th>
          User
        </th>

        <th>
          Completed at
        </th>

        <th>
          Status
        </th>

        <th>
          Reading plan
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_user_chapters.each do |a_user_chapter| %>
      <tr>
        <td>
          <%= a_user_chapter.id %>
        </td>

        <td>
          <%= a_user_chapter.chapter_id %>
        </td>

        <td>
          <%= a_user_chapter.user_id %>
        </td>

        <td>
          <%= a_user_chapter.completed_at %>
        </td>

        <td>
          <%= a_user_chapter.status %>
        </td>

        <td>
          <%= a_user_chapter.reading_plan_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_user_chapter.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_user_chapter.updated_at) %> ago
        </td>

        <td>
          <a href="/user_chapters/<%= a_user_chapter.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
