<h1><%= @plan.title %></h1>

<dl>
  <dt>Progress:</dt>
    <dd>
      <ul>
        <% @plan.books.each do |content|%>
          <% book = Book.find(content.book_id) %>
          <% user_chapters_in_book = UserChapter.joins(:chapter).where(chapters: { book_id: book.id },
                                          user_chapters: { reading_plan_id: @plan.id }) %>
          <li>
            <%= book.title %>: <%= user_chapters_in_book.length %> chapters completed
          </li>
        <% end %>
      </ul>
    </dd>
</dl>


<p>Continue reading</p>



<h3>Books</h3>
<% @plan.books.each do |content|%>
  <% book = Book.find(content.book_id) %>
  <% chapter_number = 1 %>
  <div>
    <a href="/reading_plans/<%= @plan.id %>/read/<%= book.id %>/<%= chapter_number %>">
      <%= book.title %>
    </a>
  </div>
<% end %>
