<div>
  <div>
    <h1>
      <%= @the_reading_plan.title %>
    </h1>

    <div>
      <div>
        <a href="/reading_plans">
          Go back
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_reading_plan.title %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_reading_plan.description %>
      </dd>

      <dt>
        Total Books
      </dt>
      <dd>
        <%= @the_reading_plan.books.length %>
      </dd>

      <dt>
        Sequence
      </dt>
      <dd>
        <ol>
          <% @the_reading_plan.books.each do |plan_content| %>
            <li><%= Book.find(plan_content.book_id).title %></li>
          <% end %>
        </ol>
      </dd>
    </dl>
  </div>
</div>


