<div>
  <div>
    <h1>
      Friendship #<%= @the_friendship.id %> details
    </h1>

    <div>
      <div>
        <a href="/friendships">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_friendship/<%= @the_friendship.id %>">
          Delete friendship
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User1
      </dt>
      <dd>
        <%= @the_friendship.user1_id %>
      </dd>

      <dt>
        User2
      </dt>
      <dd>
        <%= @the_friendship.user2_id %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @the_friendship.status %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_friendship.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_friendship.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit friendship
    </h2>

    <form action="/modify_friendship/<%= @the_friendship.id %>"  method="post" >
      <div>
        <label for="user1_id_box">
          User1
        </label>

        <input type="text" id="user1_id_box" name="query_user1_id" value="<%= @the_friendship.user1_id %>">
      </div>

      <div>
        <label for="user2_id_box">
          User2
        </label>

        <input type="text" id="user2_id_box" name="query_user2_id" value="<%= @the_friendship.user2_id %>">
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="query_status" value="<%= @the_friendship.status %>">
      </div>

      <button>
        Update friendship
      </button>
    </form>
  </div>
</div>

<hr>
