<div>
  <div>
    <h2>Read Through Your Plans</h2>
  </div>
  <br>
  <div class="accordion" id="my_reading_plans_accordion">
    <% current_user.subscriptions.each do |subscription|%>
      <% plan = ReadingPlan.find(subscription.plan_id) %>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_my_<%= plan.id %>" aria-expanded="false" aria-controls="collapse_my_<%= plan.id %>">
            <strong><%= plan.title %></strong>
          </button>
        </h2>
        <div id="collapse_my_<%= plan.id %>" class="accordion-collapse collapse" data-bs-parent="#my_reading_plans_accordion">
          <div class="accordion-body">
            <%= plan.description %>
            <br><br>
            <div>
              <a href="/reading_plans/<%= plan.id %>">
                See details
              </a>
            </div>
            <br>
            <div>
              <%= button_to "Unsubscribe", "/reading_plans/unsubscribe/#{plan.id}", method: :post, data: { confirm: "Are you sure?" }, class: "btn btn-light" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <div>
    <a href="/reading_plans">
      See all reading plans
    </a>  
  </div>
</div>

<br>
<hr>

<div>
  <h2>Browse All Books</h2>
</div>


<div class="container">
  <div class="row">
 <!--   <div class="col-md-1"></div>-->
    <div class="col-md-3">
      <div class="accordion" id="old_testament_accordion">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_old_testament" aria-expanded="false" aria-controls="collapse_old_testament">
              <strong>Old Testament</strong>
            </button>
          </h2>
          <% Book.where({:testament => "old"}).each do |book|%>
            <div id="collapse_old_testament" class="accordion-collapse collapse" data-bs-parent="#old_testament_accordion">
              <div class="accordion-body">
                <a href="/books/<%= book.id %>/1">
                  <%= book.title %>
                </a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <!--  <div class="col-md-3"></div>-->
    <div class="col-md-3">
      <div class="accordion" id="new_testament_accordion">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_new_testament" aria-expanded="false" aria-controls="collapse_new_testament">
              <strong>New Testament</strong>
            </button>
          </h2>
          <% Book.where({:testament => "new"}).each do |book|%>
            <div id="collapse_new_testament" class="accordion-collapse collapse" data-bs-parent="#new_testament_accordion">
              <div class="accordion-body">
                <a href="/books/<%= book.id %>/1">
                  <%= book.title %>
                </a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>







<!--
<div>
  <div>
    <h1>
      List of all books
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new book
    </h2>

    <form action="/insert_book" method="post">
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title">
      </div>

      <div>
        <label for="testament_box">
          Testament
        </label>

        <input type="text" id="testament_box" name="query_testament">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <div>
        <label for="total_chapters_box">
          Total chapters
        </label>

        <input type="text" id="total_chapters_box" name="query_total_chapters">
      </div>

      <div>
        <label for="current_readers_count_box">
          Current readers count
        </label>

        <input type="text" id="current_readers_count_box" name="query_current_readers_count">
      </div>

      <button>
        Create book
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Title
        </th>

        <th>
          Testament
        </th>

        <th>
          Description
        </th>

        <th>
          Total chapters
        </th>

        <th>
          Current readers count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <%# @list_of_books.each do |a_book| %>-->
<!--      <tr>
        <td>
          <%#= a_book.id %>-->
<!--        </td>

        <td>
          <%#= a_book.title %>-->
<!--        </td>

        <td>
          <%#= a_book.testament %>-->
<!--        </td>

        <td>
          <%#= a_book.description %>-->
<!--        </td>

        <td>
          <%#= a_book.total_chapters %>-->
<!--        </td>

        <td>
          <%#= a_book.current_readers_count %>-->
<!--        </td>

        <td>
          <%#= time_ago_in_words(a_book.created_at) %> ago-->
<!--        </td>
        <td>
          <%#= time_ago_in_words(a_book.updated_at) %> ago-->
<!--        </td>

        <td>
          <a href="/books/<%#= a_book.id %>">
            Show details
          </a>
        </td>
      </tr>
      <%# end %>-->
<!--    </table>
  </div>
</div>

<hr>
-->
