<h1>Welcome!</h1>

<!--<nav>-->
  <%# if current_user != nil %>
<!--    <a href="/users/sign_out">Sign out</a>
    <a href="/users/edit">Edit profile</a>
  <%# else %>-->
<!--    <a href="/users/sign_up">Sign up</a>
    <a href="/users/sign_in">Sign in</a>
  <%# end %>-->
<!--</nav>-->


<a href="/read">Start Reading</a>

<p>Check out the <a href="/reading_plans">Reading Plans</a></p>


<% if current_user != nil %>

<!--  <h3>Continue Reading</h3>
    <p>Pick back up at (current chapter), or 
      <a href="/books">browse all books.</a>
    </p>-->

  <h3>My Reading Plans</h3>
    <div class="accordion" id="reading_plans_accordion">
      <% current_user.subscriptions.each do |subscription|%>
        <% plan = ReadingPlan.find(subscription.plan_id) %>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_<%= plan.id %>" aria-expanded="false" aria-controls="collapse_<%= plan.id %>">
              <strong><%= plan.title %></strong>
            </button>
          </h2>
          <div id="collapse_<%= plan.id %>" class="accordion-collapse collapse" data-bs-parent="#reading_plans_accordion">
            <div class="accordion-body">
              <%= plan.description %>
              <br><br>
              <div>
                <a href="/reading_plans/<%= plan.id %>">
                  See details
                </a>
              </div>
              <br>
              <div>
                <a href="/reading_plans/<%= plan.id %>/read" class="btn btn-primary">
                  Read
                </a>
              </div>
              <br>
              <div>
                <%= button_to "Unsubscribe", "/reading_plans/unsubscribe/#{plan.id}", method: :post, data: { confirm: "Are you sure?" }, class: "btn btn-light" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>



<% end %>
